GenCode.DroneDown/Service References/ServiceReference1/Beacon.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Beacon" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50378/Services/Beacon.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50378/Services/Beacon.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50378/Services/Beacon.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GenCode.BeaconDevices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBeacon_CheckLatestVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLatestVersion" />
  </wsdl:message>
  <wsdl:message name="IBeacon_CheckLatestVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IBeacon_Emulate_InputMessage">
    <wsdl:part name="parameters" element="tns:Emulate" />
  </wsdl:message>
  <wsdl:message name="IBeacon_Emulate_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmulateResponse" />
  </wsdl:message>
  <wsdl:portType name="IBeacon">
    <wsdl:operation name="CheckLatestVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IBeacon/CheckLatestVersion" message="tns:IBeacon_CheckLatestVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBeacon/CheckLatestVersionResponse" message="tns:IBeacon_CheckLatestVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Emulate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBeacon/Emulate" message="tns:IBeacon_Emulate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBeacon/EmulateResponse" message="tns:IBeacon_Emulate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBeacon" type="tns:IBeacon">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLatestVersion">
      <soap:operation soapAction="http://tempuri.org/IBeacon/CheckLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Emulate">
      <soap:operation soapAction="http://tempuri.org/IBeacon/Emulate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Beacon">
    <wsdl:port name="BasicHttpBinding_IBeacon" binding="tns:BasicHttpBinding_IBeacon">
      <soap:address location="http://localhost:50378/Services/Beacon.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>