GenCode.DroneDown/Service References/ServiceReference1/Beacon2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50378/Services/Beacon.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GenCode.BeaconDevices" />
  <xs:element name="CheckLatestVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLatestVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLatestVersionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Emulate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manufacturer" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmulateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GenCode.BeaconDevices" minOccurs="0" name="EmulateResult" nillable="true" type="q1:ArrayOfBeaconData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>